name: Pull request scanner

on:
    pull_request:

jobs:
  jest-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 8.15.0
          run_install: false
      
      - name: Install node.js
        uses: actions/setup-node@v4
        with:
          version: 22

      - name: Install dependencies
        run: pnpm install
